NET "CLOCK" LOC = P123;

NET "P1_LEFT" LOC = P16;
NET "P1_RIGHT" LOC = P11;
NET "P2_LEFT" LOC = P140;
NET "P2_RIGHT" LOC = P134;

NET "P1_LEFT_OUT" LOC = P6;
NET "P1_RIGHT_OUT" LOC = P8;
NET "P2_LEFT_OUT" LOC = P10;
NET "P2_RIGHT_OUT" LOC = P12;
