NET "LEFT" LOC = P124;
NET "MIDDLE" LOC = P127;
NET "RIGHT" LOC = P132;
NET "BUTTON_A" LOC = P47;
NET "BUTTON_B" LOC = P48;
NET "CLOCK" LOC = P123;
NET "RED" LOC = P14;
NET "GREEN" LOC = P11;
NET "BLUE" LOC = P9;
NET "HSYNC" LOC = P7;
NET "VSYNC" LOC = P5;
NET "BUZZER" LOC = P83;
