//! **************************************************************************
// Written by: Map P.20131013 on Fri Nov 11 18:17:54 2022
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P123" LEVEL 1;
COMP "vga_B" LOCATE = SITE "P9" LEVEL 1;
COMP "vga_G" LOCATE = SITE "P11" LEVEL 1;
COMP "vga_R" LOCATE = SITE "P14" LEVEL 1;
COMP "vga_h_sync" LOCATE = SITE "P7" LEVEL 1;
COMP "vga_v_sync" LOCATE = SITE "P5" LEVEL 1;
SCHEMATIC END;

