//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 14 03:55:40 2022
//! **************************************************************************

SCHEMATIC START;
COMP "green" LOCATE = SITE "P11" LEVEL 1;
COMP "blue" LOCATE = SITE "P9" LEVEL 1;
COMP "vs_out" LOCATE = SITE "P5" LEVEL 1;
COMP "hs_out" LOCATE = SITE "P7" LEVEL 1;
COMP "red" LOCATE = SITE "P14" LEVEL 1;
COMP "clk25" LOCATE = SITE "P123" LEVEL 1;
SCHEMATIC END;

