NET "CLOCK" LOC = P123;
NET "RED" LOC = P9;
NET "GREEN" LOC = P7;
NET "BLUE" LOC = P5;
NET "HSYNC" LOC = P21;
NET "VSYNC" LOC = P23;

NET "P1_LEFT" LOC = P6;
NET "P1_RIGHT" LOC = P8;
NET "P2_LEFT" LOC = P10;
NET "P2_RIGHT" LOC = P12;
