//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 12 04:21:25 2022
//! **************************************************************************

SCHEMATIC START;
COMP "CLOCK" LOCATE = SITE "P123" LEVEL 1;
COMP "VSYNC" LOCATE = SITE "P23" LEVEL 1;
COMP "GREEN" LOCATE = SITE "P7" LEVEL 1;
COMP "BLUE" LOCATE = SITE "P5" LEVEL 1;
COMP "P1_RIGHT" LOCATE = SITE "P8" LEVEL 1;
COMP "P2_RIGHT" LOCATE = SITE "P12" LEVEL 1;
COMP "HSYNC" LOCATE = SITE "P21" LEVEL 1;
COMP "P1_LEFT" LOCATE = SITE "P6" LEVEL 1;
COMP "P2_LEFT" LOCATE = SITE "P10" LEVEL 1;
COMP "RED" LOCATE = SITE "P9" LEVEL 1;
SCHEMATIC END;

